<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">RENSEIGNEMENT SUR</h4>

            <div id="basic-example">
                <!-- Seller Details -->
                <h3>L'EXPLOITANT</h3>
                <section>
                    <form>
                        <div class="p-0">
                            <div class="row py-2 align-items-center">
                                <div class="col-md-auto col-sm-3 col-xs-12">
                                    <label for="exploitantNom" class="col-form-label">Nom :</label>
                                </div>
                                <div class="col-md-5 col-sm-8 col-xs-12">
                                    <input type="text" id="exploitantNom" name="exploitantNom" class="form-control" aria-labelledby="exploitantNom">
                                </div>
                                <div class="col-md-auto col-sm-3 col-xs-12">
                                    <label for="exploitantPrenoms" class="col-form-label">Prénoms :</label>
                                </div>
                                <div class="col-md-5 col-sm-9 col-xs-12">
                                    <input type="text" id="exploitantPrenoms" name="exploitantPrenoms" class="form-control" aria-labelledby="passwordHelpInline">
                                </div>
                            </div>

                            <div class="row py-2 align-items-center">
                                <div class="col-md-auto col-sm-6">
                                    <label for="exploitantDateNais" class="col-form-label">Né(e) le :</label>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input type="text" id="exploitantDateNais" name="exploitantDateNais" class="form-control" aria-labelledby="exploitantDateNais">
                                </div>
                                <div class="col-md-auto col-sm-6">
                                    <label for="exploitantLieuNais" class="col-form-label">à :</label>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input type="text" id="exploitantLieuNais" name="exploitantLieuNais" class="form-control" aria-labelledby="exploitantLieuNais">
                                </div>
                                <div class="col-md-auto col-sm-6">
                                    <label for="exploitantNationalite" class="col-form-label">Nationalité :</label>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input type="text" id="exploitantNationalite" name="exploitantNationalite" class="form-control" aria-labelledby="exploitantNationalite">
                                </div>
                            </div>

                            <div class="row py-2 align-items-center">
                                <div class="col-md-auto col-sm-6">
                                    <label for="exploitantSex" class="col-form-label">Sexe :</label>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="exploitantSex" name="exploitantSex" value="H">
                                        <label class="form-check-label" for="exploitantSex">Homme</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="exploitantSex" name="exploitantSex" value="F">
                                        <label class="form-check-label" for="exploitantSex">Femme</label>
                                    </div>
                                </div>
                                <div class="col-md-auto col-sm-6">
                                    <label for="exploitantDomicile" class="col-form-label">Domicilié (e) à :</label>
                                </div>
                                <div class="col-md-5 col-sm-6">
                                    <input type="text" id="exploitantDomicile" name="exploitantDomicile" class="form-control" aria-labelledby="exploitantDomicile">
                                </div>
                            </div>

                            <div class="row py-2 align-items-center">
                                <div class="col-md-auto col-sm-6">
                                    <label for="exploitantTypeDoc" class="col-form-label">Type de document :</label>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="exploitantTypeDoc" name="exploitantTypeDoc" value="cni">
                                        <label class="form-check-label" for="exploitantTypeDoc">CNI</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="exploitantTypeDoc" name="exploitantTypeDoc" value="cc">
                                        <label class="form-check-label" for="exploitantTypeDoc">CC</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="exploitantTypeDoc" name="exploitantTypeDoc" value="passeport">
                                        <label class="form-check-label" for="exploitantTypeDoc">Passeport</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="exploitantTypeDoc" name="exploitantTypeDoc" value="Carte de résident">
                                        <label class="form-check-label" for="exploitantTypeDoc">Carte de résident</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="exploitantTypeDoc" name="exploitantTypeDoc" value="Autre">
                                        <label class="form-check-label" for="exploitantTypeDoc">Autre</label>
                                    </div>
                                </div>
                                <div class="col-md-auto col-sm-6">
                                    <label for="exploitantTypeDocAutre" class="col-form-label" style="display:inline">(à preciser) :</label>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                    <input type="text" id="exploitantTypeDocAutre" name="exploitantTypeDocAutre" class="form-control" aria-labelledby="exploitantTypeDoc">
                                </div>
                            </div>

                            <div class="row py-2 align-items-center">
                                <div class="col-sm-auto col-xs-6">
                                    <label for="exploitantTypeDocNum" class="col-form-label">N° :</label>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <input type="text" id="exploitantTypeDocNum" name="exploitantTypeDocNum" class="form-control" aria-labelledby="exploitantTypeDocNum">
                                </div>
                                <div class="col-sm-auto col-xs-6">
                                    <label for="exploitantDocLieuDelivrance" class="col-form-label">Délivré à :</label>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <input type="text" id="exploitantDocLieuDelivrance" name="exploitantDocLieuDelivrance" class="form-control" aria-labelledby="exploitantDocLieuDelivrance">
                                </div>
                                <div class="col-sm-auto col-xs-6">
                                    <label for="exploitantDocDateDelivrance" class="col-form-label">Le :</label>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <input type="text" id="exploitantDocDateDelivrance" name="exploitantDocDateDelivrance" class="form-control" aria-labelledby="exploitantDocDateDelivrance">
                                </div>
                            </div>

                            <div class="row py-2 align-items-center">
                                <div class="col-md-auto col-sm-6">
                                    <label for="exploitantEtatCivil" class="col-form-label">Etat civil :</label>
                                </div>
                                <div class="col-md-auto col-sm-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="exploitantEtatCivil" name="exploitantEtatCivil" value="Marié">
                                        <label class="form-check-label" for="exploitantEtatCivil">Marié</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="exploitantEtatCivil" name="exploitantEtatCivil" value="Célibataire">
                                        <label class="form-check-label" for="exploitantEtatCivil">Célibataire</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="exploitantEtatCivil" name="exploitantEtatCivil" value="Divorcé">
                                        <label class="form-check-label" for="exploitantEtatCivil">Divorcé(e)</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="exploitantEtatCivil" name="exploitantEtatCivil" value="Veuf">
                                        <label class="form-check-label" for="exploitantEtatCivil">Veuf(ve)</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row py-2 align-items-center">
                                <div class="col-md-auto col-sm-6">
                                    <label for="exploitantTel" class="col-form-label">Telephone :</label>
                                </div>
                                <div class="col-md-auto col-sm-6">
                                    <input type="text" id="exploitantTel" name="exploitantTel" class="form-control" aria-labelledby="exploitantTel">
                                </div>
                                <div class="col-md-auto col-sm-6">
                                    <label for="exploitantEmail" class="col-form-label">Email :</label>
                                </div>
                                <div class="col-md-auto col-sm-6">
                                    <input type="text" id="exploitantEmail" name="exploitantEmail" class="form-control" aria-labelledby="exploitantEmail">
                                </div>
                            </div>
                        </div>
                    </form>
                </section>

                <!-- Company Document -->
                <h3>LA FORMATION PROFESSIONNELLE</h3>
                <section>
                    <form>
                        <div class="row py-2 align-items-center">
                            <div class="col-auto">
                                <label for="exploitantNiveauEtude" class="col-form-label">Niveau d'étude :</label>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="exploitantNiveauEtude" name="exploitantNiveauEtude" value="Non Scolarisé">
                                    <label class="form-check-label" for="education">1- Non scolarisé</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="exploitantNiveauEtude" name="exploitantNiveauEtude" value="Primaire">
                                    <label class="form-check-label" for="education">2- Primaire</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="exploitantNiveauEtude" name="exploitantNiveauEtude" value="Secondaire">
                                    <label class="form-check-label" for="education">3- Secondaire</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="exploitantNiveauEtude" name="exploitantNiveauEtude" value="Superieure">
                                    <label class="form-check-label" for="education">4- Supérieur</label>
                                </div>
                            </div>
                        </div>

                        <div class="row py-2  align-items-center">
                            <div class="col-auto">
                                <label for="formationClass" class="col-form-label">Précisez la classe(2-3-4) :</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="formationClass" name="formationClass" class="form-control" aria-labelledby="formationClass">
                            </div>
                            <div class="col-auto">
                                <label for="formationDiplomeObtenu" class="col-form-label">Précisez le diplôme obtenu :</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="formationDiplomeObtenu" name="formationDiplomeObtenu" class="form-control" aria-labelledby="formationDiplomeObtenu">
                            </div>
                        </div>

                        <div class="row py-2  align-items-center">
                            <div class="col-auto">
                                <label for="formationApprenMetier" class="col-form-label">Apprentissage du métier :</label>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="formationApprenMetier" name="formationApprenMetier" value="Sur le tas">
                                    <label class="form-check-label" for="formationApprenMetier">1- Sur le tas</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="formationApprenMetier" name="formationApprenMetier" value="CFP">
                                    <label class="form-check-label" for="training">2- Centre de Formation Professionnelle (CFP)</label>
                                </div>
                            </div>
                        </div>

                        <div class="row py-2  align-items-center">
                            <div class="col-auto">
                                <label for="formationApprenMetierNiveau" class="col-form-label">Précisez le niveau (2) :</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="formationApprenMetierNiveau" name="formationApprenMetierNiveau" class="form-control" aria-labelledby="formationApprenMetierNiveau">
                            </div>
                            <div class="col-auto">
                                <label for="formationApprenMetierDiplomeObtenu" class="col-form-label">Précisez le diplôme obtenu :</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="formationApprenMetierDiplomeObtenu" name="formationApprenMetierDiplomeObtenu" class="form-control" aria-labelledby="formationApprenMetierDiplomeObtenu">
                            </div>
                        </div>

                        <div class="row py-2  align-items-center">
                            <div class="col-auto">
                                <label for="formationApprenMetierCNMCI" class="col-form-label">Avez-vous un diplôme delivré par la CNMCI :</label>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="formationApprenMetierCNMCI" name="formationApprenMetierCNMCI" value="0">
                                    <label class="form-check-label" for="formationApprenMetierCNMCI">NON</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="formationApprenMetierCNMCI" name="formationApprenMetierCNMCI" value="1">
                                    <label class="form-check-label" for="formationApprenMetierCNMCI">OUI</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <label for="formationApprenMetierTypeCNMCI" class="col-form-label">Lequel ?</label>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="formationApprenMetierTypeCNMCI" name="formationApprenMetierTypeCNMCI" value="0">
                                    <label class="form-check-label" for="formationApprenMetierTypeCNMCI">Maître Artisan</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="formationApprenMetierTypeCNMCI" name="formationApprenMetierTypeCNMCI" value="1">
                                    <label class="form-check-label" for="formationApprenMetierTypeCNMCI">Fin d'Apprentissage</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>

                <!-- Bank Details -->
                <h3>PERSONNE POUVANT ENGAGER L'ENTREPRISE</h3>
                <section>
                    <div>
                        <form>
                            <div class="row py-2 align-items-center">
                                <div class="col-1 col-xs-6">
                                    <label for="referantNom" class="col-form-label">Nom :</label>
                                </div>
                                <div class="col-5 col-xs-6">
                                    <input type="text" id="referantNom" name="referantNom" class="form-control" aria-labelledby="referantNom">
                                </div>
                                <div class="col-1 col-xs-6">
                                    <label for="referantPrenom" class="col-form-label">Prénoms :</label>
                                </div>
                                <div class="col-5 col-xs-6">
                                    <input type="text" id="referantPrenom" name="firstname" class="form-control" aria-labelledby="referantPrenom">
                                </div>
                            </div>

                            <div class="row py-2  align-items-center">
                                <div class="col-auto">
                                    <label for="referantDateNais" class="col-form-label">Né(e) le :</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="referantDateNais" name="referantDateNais" class="form-control" aria-labelledby="referantDateNais">
                                </div>
                                <div class="col-auto">
                                    <label for="referantLieuNais" class="col-form-label">à :</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="referantLieuNais" name="referantLieuNais" class="form-control" aria-labelledby="referantLieuNais">
                                </div>
                                <div class="col-auto">
                                    <label for="referantNationalite" class="col-form-label">Nationalité :</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="referantNationalite" name="nationality" class="form-control" aria-labelledby="referantNationalite">
                                </div>
                            </div>

                            <div class="row py-2 align-items-center">
                                <div class="col-auto">
                                    <label for="referantSex" class="col-form-label">Sexe :</label>
                                </div>
                                <div class="col-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="sex" name="referantSex" value="H">
                                        <label class="form-check-label" for="referantSex">Homme</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="referantSex" name="referantSex" value="F">
                                        <label class="form-check-label" for="referantSex">Femme</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <label for="referantDomicile" class="col-form-label">Domicilié (e) à :</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" id="referantDomicile" name="referantDomicile" class="form-control" aria-labelledby="referantDomicile">
                                </div>
                            </div>

                            <div class="row py-2 align-items-center">
                                <div class="col-auto">
                                    <label for="referantTypeDoc" class="col-form-label">Type de document :</label>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="referantTypeDoc" name="referantTypeDoc" value="cni">
                                        <label class="form-check-label" for="referantTypeDoc">CNI</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="referantTypeDoc" name="referantTypeDoc" value="cc">
                                        <label class="form-check-label" for="referantTypeDoc">CC</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="referantTypeDoc" name="referantTypeDoc" value="passeport">
                                        <label class="form-check-label" for="referantTypeDoc">Passeport</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="referantTypeDoc" name="referantTypeDoc" value="Carte de résident">
                                        <label class="form-check-label" for="referantTypeDoc">Carte de résident</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="document" name="referantTypeDoc" value="other">
                                        <label class="form-check-label" for="referantTypeDoc">Autre</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <label for="referantTypeDocAutre" class="col-form-label">(à preciser) :</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="referantTypeDocAutre" name="referantTypeDocAutre" class="form-control" aria-labelledby="referantTypeDocAutre">
                                </div>
                            </div>

                            <div class="row py-2  align-items-center">
                                <div class="col-auto">
                                    <label for="referantNumDoc" class="col-form-label">N° :</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="referantNumDoc" name="referantNumDoc" class="form-control" aria-labelledby="referantNumDoc">
                                </div>
                                <div class="col-auto">
                                    <label for="referantDocLieuDelivrance" class="col-form-label">Délivré à :</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="referantDocLieuDelivrance" name="referantDocLieuDelivrance" class="form-control" aria-labelledby="referantDocLieuDelivrance">
                                </div>
                                <div class="col-auto">
                                    <label for="referantDocDateDelivrance" class="col-form-label">Le :</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="referantDocDateDelivrance" name="referantDocDateDelivrance" class="form-control" aria-labelledby="referantDocDateDelivrance">
                                </div>
                            </div>

                            <div class="row py-2 align-items-center">
                                <div class="col-auto">
                                    <label for="referantEtatCivil" class="col-form-label">Etat civil :</label>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="referantEtatCivil" name="referantEtatCivil" value="Marié">
                                        <label class="form-check-label" for="referantEtatCivil">Marié</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="referantEtatCivil" name="referantEtatCivil" value="Célibataire">
                                        <label class="form-check-label" for="referantEtatCivil">Célibataire</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="referantEtatCivil" name="referantEtatCivil" value="Divorcé">
                                        <label class="form-check-label" for="referantEtatCivil">Divorcé(e)</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="referantEtatCivil" name="referantEtatCivil" value="Veuf">
                                        <label class="form-check-label" for="referantEtatCivil">Veuf(ve)</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row py-2 align-items-center">
                                <div class="col-auto">
                                    <label for="referantTel" class="col-form-label">Telephone :</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="referantTel" name="referantTel" class="form-control" aria-labelledby="referantTel">
                                </div>
                                <div class="col-auto">
                                    <label for="referantEmail" class="col-form-label">Email :</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="referantEmail" name="referantEmail" class="form-control" aria-labelledby="referantEmail">
                                </div>
                            </div>

                        </form>
                    </div>
                </section>

                <!-- Confirmation -->
                <h3>ADHESION AU SYNACVTCCI</h3>
                <section>
                    <div>
                        <form>
                            <div class="row mb-2">
                                <label for="member_registration_photo" class="d-block d-flex justify-content-center align-content-center">
                                    <div>
                                        <img id="imagePreview" src="{{ asset('assets/images/avatar/avatar.jpg') }}" alt="" width="100" class="rounded-circle">
                                        <span class="d-block position-relative text-white" style="top:-40px;left:32px"><i class="mdi mdi-camera mdi-36px"></i></span>
                                        {{ form_widget(form.photo, {'attr': {'class': 'visually-hidden'}}) }}
                                    </div>
                                </label>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-form-label col-sm-2" for="artisan_company_vtc">Compagnie de VTC</label>
                                <div class="col-sm-10">
                                    <select id="artisan_company_vtc" name="artisan_company_vtc" class="form-select">
                                        <option value=""></option>
                                        <option value="YANGO">YANGO</option>
                                        <option value="UBER">UBER</option>
                                        <option value="HEECTH">HEECTH</option>
                                        <option value="LE TRANSPORTEUR">LE TRANSPORTEUR</option>
                                        <option value="IZIGO">IZIGO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-form-label col-sm-2" for="artisan__whatsapp">Whatsapp</label>
                                <div class="col-sm-10">
                                    <input type="text" id="artisan_whatsapp" name="artisan_whatsapp" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-form-label col-sm-2" for="artisan_photoPieceFront">Photo Piece d'identité (recto)</label>
                                <div class="col-sm-10">
                                    <input type="file" id="artisan_photoPieceFront" name="artisan_photoPieceFront" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-form-label col-sm-2" for="artisan_photoPieceBack">Photo Piece d'identité (verso)</label>
                                <div class="col-sm-10">
                                    <input type="file" id="artisan_photoPieceBack" name="artisan_photoPieceBack" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-form-label col-sm-2" for="artisan_photoPermisFront">Photo permis de conduire (recto)</label>
                                <div class="col-sm-10">
                                    <input type="file" id="artisan_photoPermisFront" name="artisan_photoPermisFront" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-form-label col-sm-2" for="artisan_photoPermisBack">Photo permis de conduire (verso)</label>
                                <div class="col-sm-10">
                                    <input type="file" id="artisan_photoPermisBack" name="artisan_photoPermisBack" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="py-2">
                                    <div class="col-md-auto col-sm-3 col-xs-12">
                                        <label for="is_married" class="col-form-label">Etes-vous marié ? &nbsp;&nbsp;:</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="is_married" name="is_married" value="0">
                                        <label class="form-check-label" for="is_married">Non</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="is_married" name="is_married" value="1">
                                        <label class="form-check-label" for="is_married">Oui</label>
                                    </div>

                                    <div class="row py-2 align-items-center" id="partner_bock" style="display:none;">
                                        <div class="col-1 col-xs-6">
                                            <label for="artisan_partenaireNom" class="col-form-label">Nom du parténaire :</label>
                                        </div>
                                        <div class="col-5 col-xs-6">
                                            <input type="text" id="artisan_partenaireNom" name="artisan_partenaireNom" class="form-control" aria-labelledby="artisan_partenaireNom">
                                        </div>
                                        <div class="col-1 col-xs-6">
                                            <label for="artisan_partenairePrenom" class="col-form-label">Prénoms du parténaire:</label>
                                        </div>
                                        <div class="col-5 col-xs-6">
                                            <input type="text" id="artisan_partenairePrenom" name="artisan_partenairePrenom" class="form-control" aria-labelledby="artisan_partenaireNom">
                                        </div>
                                    </div>
                                </div>
                                <div class="py-2">
                                    <span>Avez-vous un/des enfant(s) ? &nbsp;&nbsp;</span>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="artisan_has_child" name="artisan_has_child" value="0">
                                        <label class="form-check-label" for="artisan_has_child">Non</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="artisan_has_child" name="artisan_has_child" value="1">
                                        <label class="form-check-label" for="artisan_has_child">Oui</label>
                                    </div>
                                    <div id="child-row" style="display:none;">
                                        <div id="children_bock"  class="pt-2">
                                        </div>
                                        <span href="#" id="newChild" class="btn btn-small btn-rounded btn-primary"></i> Ajouter un enfant </span>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </section>


                <h3>CONFIRMATION</h3>
                <section>
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center">
                                <div class="mb-4">
                                    <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                                </div>
                                <div>
                                    <h5>Enregistrer avec succès</h5>
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
        <!-- end card body -->
    </div>
    <!-- end card -->
</div>
<!-- end col -->
