<div class="featured-top">
    <aside class="featured-top__inner section container clearfix" role="complementary">
        <section class="region region-featured-top">
            <div class="views-element-container block block-views block-views-blockfeatured-carousel-block-1" id="block-views-block-featured-carousel-block-1">
                <div class="content">
                    <div>
                        <div class="view view-featured-carousel view-id-featured_carousel view-display-id-block_1 js-view-dom-id-24973784bebf441ca802de18037b871fb497d3c69f6bc92d36ce4587f7ae7e04">
                            <div class="view-content">
                                <div class="skin-default">
                                    <div id="views_slideshow_cycle_main_featured_carousel-block_1" class="views_slideshow_cycle_main views_slideshow_main">
                                        <div id="views_slideshow_cycle_teaser_section_featured_carousel-block_1" class="views_slideshow_cycle_teaser_section">
                                            <div id="views_slideshow_cycle_div_featured_carousel-block_1_0"
                                                 class="views_slideshow_cycle_slide views_slideshow_slide views-row-1 views-row-odd">
                                                <div class="views-row views-row-0 views-row-odd views-row-first row">
                                                    <div class="col-md-9">
                                                        <img loading="lazy" src="{{ asset('sites/img/Healthcare_2.jpg') }}" width="858" height="300" alt="Assurance maladie"  title="" typeof="Image"/>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h2>Assurance maladie</h2>
                                                        <p>
                                                            <span>Les membres de la FENAPALCI bénéficient d'une police d'assurance allant jusqu'à 80% .</span>
                                                        </p>
                                                        <p>
                                                            <a class="btn btn-lg btn-primary" role="button"  href="" target="_blank">En savoir +</a>
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>

                                            <div id="views_slideshow_cycle_div_featured_carousel-block_1_1" class="views_slideshow_cycle_slide views_slideshow_slide views-row-2 views_slideshow_cycle_hidden views-row-even">
                                                <div class="views-row views-row-1 views-row-even row">
                                                    <div class="col-md-9">
                                                        <img loading="lazy" src="{{ asset('sites/img/fenapalci_intro.png') }}" width="858" height="300"  alt="Méga campagne de recrutement de 2022." title="Méga campagne de recrutement de 2022" typeof="Image"/>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h2>Une Fédération au service du bien-être de ses membres </h2>
                                                        <p>
                                                            <span>LA FENAPALCI est une fédération offre plusieurs avantages socio-economiques à ses membres.</span>
                                                        </p>
                                                        <p>
                                                            <a class="btn btn-lg btn-primary" role="button" href="" target="_blank">DITES-M’EN PLUS</a>
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>

                                            <div id="views_slideshow_cycle_div_featured_carousel-block_1_2" class="views_slideshow_cycle_slide views_slideshow_slide views-row-3 views_slideshow_cycle_hidden views-row-odd">
                                                <div class="views-row views-row-2 views-row-odd views-row-last row">
                                                    <div class="col-md-9">
                                                        <img loading="lazy" src="/sites/img/slider_member_557001676_0.jpg" width="858" height="300" alt="Une adhésion qui a des avantages." title="Une adhésion qui a des avantages" typeof="Image"/>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h2>Avantages d&#039;une adhésion</h2>
                                                        <p>
                                                            <span>Des démarches stratégiques de défense des intérêts aux partenaires privilégiés qui offrent des économies importantes, une adhésion à la FENAPALCI comporte bien des avantages!</span>
                                                        </p>
                                                        <p>
                                                            <a class="btn btn-lg btn-primary" href="" role="button" target="_blank">DITES-M’EN PLUS</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="views-slideshow-controls-bottom clearfix">
                                        <div id="views_slideshow_controls_text_featured_carousel-block_1" class="views_slideshow_controls_text">
                                                        <span id="views_slideshow_controls_text_previous_featured_carousel-block_1" class="views_slideshow_controls_text_previous">
                                                              <a href="#">Précédent</a>
                                                        </span>

                                            <span id="views_slideshow_controls_text_pause_featured_carousel-block_1" class="views_slideshow_controls_text_pause  views-slideshow-controls-text-status-play">
                                                          <a href="#">Pause</a>
                                                        </span>

                                            <span id="views_slideshow_controls_text_next_featured_carousel-block_1" class="views_slideshow_controls_text_next">
                                                          <a href="#">Suivant</a>
                                                        </span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </section>
    </aside>
</div>