<div class="col-sm-12">
    <table id="datatable" class="table no-footer">
        <thead class="datable-thead">
        <tr>
            <th width="8%">Photo</th>
            <th>Nom</th>
            <th>Prenoms</th>
            <th>Inscrit le</th>
            <th>N° Permis</th>
            <th>N° Pièce d'identité</th>
            <th width="2%">Action</th>
        </tr>
        </thead>
    </table>
</div>




